html{
    font-family: Arial, Helvetica, sans-serif
}


.nav{
    background-color:Navy;
    color: white;
    width: 25%;
    height: 700px;
    margin: 0px;
    float: left;
}

.formularz{
    float: left;
    width: 75%;
    height: 100px;
    padding-bottom: 50px;
    line
}

.zdj{
    background-color: royalblue;
    width: 75%;
    height: 300px;
    float: left;
    padding-top:30px;
    text-align: center;
}

.nazwa{
    color:orange;   
}

a:hover{
    color: white;
}



footer{
    padding: 20px;
    background-color: steelblue;
    text-align:center;
    
}


h1{
    text-align: center;
}

